.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 0px var(--paddingSize);
    max-width: var(--maxWidth);
}

.line {
    border-bottom: 1px solid var(--secondaryText);
}