.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.main ul {
  max-width: 700px;
  width: 100%;
  padding: var(--paddingSize);
}

.main li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  align-items: flex-start;
  padding: var(--paddingSize) 0px;
  border-bottom: 1px solid var(--secondaryText);
  gap: var(--paddingSize);
}

.item {
  width: 100%;
}

.item_info {
  color: var(--secondaryText);
  margin-bottom: var(--paddingSize);
}

.item_info span {
  word-spacing: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.buttons svg {
  width: 24px;
  cursor: pointer;
}

.buttons div:hover {
  fill: var(--secondaryText);
}

.title {
  display: flex;
  justify-content: space-between;
  gap: var(--gapSize);
  color: var(--main);
  font-weight: 500;
}

.title p {
  max-width: 300px;
}

