.main {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 600;
  padding: var(--paddingSize);
  user-select: none;
  width: 208px;
}

.filters li,
.filters p {
  margin-bottom: 3px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 188px);
  padding: var(--paddingSize);
  gap: var(--paddingSize);
  height: 100%;
}

.main label {
  user-select: none;
}

@media (max-width: 1100px) {
  .products {
    grid-template-columns: repeat(3, 188px);
  }
}

@media (max-width: 880px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

@media (max-width: 750px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .filters {
    max-width: 612px;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .filters {
    max-width: 555px;
  }
}

@media (max-width: 560px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media (max-width: 360px) {
  .products {
    gap: 4px;
  }
}
