.main {
  max-width: var(--maxWidth);
  width: 100%;
  margin: 0 auto;
}

.main h5 {
  padding: var(--paddingSize);
}

.background {
  width: 100%;
  height: 100%;
  padding: var(--paddingSize);
  object-fit: contain;
}

.small {
  display: none;
}

@media (max-width: 767px) {
  .small {
    display: inline;
  }

  .big {
    display: none;
  }
}
