.summary {
    padding: var(--paddingSize);
    max-width: 335px;
    width: 100%;
  }
  
  .summary h5 {
    margin-bottom: var(--paddingSize);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .summary h5 svg {
    transform: rotateZ(-90deg) translateX(-5px);
  }
  
  .summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--gapSize);
    font-weight: 500;
  }
  
  .total {
    border-top: 1px solid var(--secondaryText);
    border-bottom: 1px solid var(--secondaryText);
    padding: var(--paddingSize) 0px;
    margin: var(--paddingSize) 0px;
  }
  
  .summary button {
    background-color: var(--main);
    color: white;
    border: none;
    min-height: 62px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    user-select: none;
    width: 100%;
    margin: var(--paddingSize) 0px;
    letter-spacing: 0.5px;
  }
  
  .summary button:hover {
    background: #242424d0;
  }
  
  @media (max-width: 900px) {
    .summary {
      max-width: 1000px;
    }
  }